.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-background);
}

.login__form {
    max-width: 400px;
    width: 100%;
    background-color: var(--color-white);
    padding: var(--space-8);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-sm);
    text-align: center;
    position: relative;
}

.login__blob-grid {
    position: absolute;
    height: 200px;
    top: 4px;
    left: 4px;
    right: 4px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-size: 1.5em 1.5em;
    background-position-y: -2px;
    background-image: linear-gradient(rgba(0, 0, 255, 0.03) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 255, 0.03) .1em, transparent .1em);
}

.login__blob-gradient {
    position: absolute;
    height: 200px;
    top: 4px;
    left: 4px;
    right: 4px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: radial-gradient(circle at 50% -50%, rgba(0, 0, 255, 0.08) 0%, white 80%);
}

.login__logo {
    margin: 0.5rem auto 1rem;
    width: auto;
    height: 32px;
    position: relative;
    user-select: none;
}

.login__title {
    font-size: var(--text-lg);
    font-weight: 500;
    margin-bottom: var(--space-2);
    position: relative;
    user-select: none;
}

.login__subtitle {
    font-size: var(--text-xs);
    color: var(--color-text-light);
    margin-bottom: var(--space-6);
    position: relative;
    user-select: none;
}

.login__form-fields {
    position: relative;
}