{{ define "body" }}
<div>
    {{ template "login_form" . }}
</div>
{{ end }}

{{ define "login_form"}}
<form method="post" action="/auth/login">
    <div>
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" value="{{ .Email }}">
        {{ if .Errors.Email }}
        <div>{{ .Errors.Email }}</div>
        {{ end }}
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        {{ if .Errors.Password }}
        <div>{{ .Errors.Password }}</div>
        {{ end }}
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
{{ end }}